@keyframes ejemplo {
  from {opacity: 0.1;}
  to {opacity: 0.8;}
}
body {
  background: url('https://wallpapercave.com/wp/pdJrhtN.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.eventeer {
  opacity: 0.8;
  animation-name : ejemplo;
  animation-duration: 3s;
}
